{% load static %} 

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{tittle}}</title>
        <link rel="stylesheet" href="{% static "main/styles/style.css" %}">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        {% block css%} 
        {% endblock css %}
    </head>


    <body>
        <header class="top-conteiner">
            <div class="nav-conteiner">
                <div>
                    <nav>
                        <ul>
                            <img src="{% static "main/images/Logo1.png" %}" alt="Logo" class="img-logo">
                            <li>
                                <a href="{% url "index" %}">Главная</a>
                            </li>
                            <li>
                                <a href="">Новости</a>
                            </li>
                            <li>
                                <a href="">О нас</a>
                            </li>
                            <li>
                                <a href="">Каталог</a>
                            </li>
                        </ul>
                    </nav>
                </div>
    
                <div>
                    <nav>
                        <ul>
                            <input type="text" placeholder="Поиск" style="height: 28px; padding-left: 3px;">
                            <li>
                                <a href="#">Уведомления</a>
                            </li>
                            <li>
                                <a href="#">Сообщения</a>
                            </li>
                            <li>
                                <a href="#">Nickname</a>
                            </li>
                            <img src="{% static "main/images/Avatar1.jpg" %}" alt="UserAvatar" class="img-avatar">
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

    <div>
      <header>
        <div class="nav-left">
          <h1><a href="{% url 'index' %}">Django blog</a></h1>
        </div>

      </header>

        {% if user.is_authenticated %}
            <p>Hi {{ user.username }}!</p>
        {% else %}
            <p>You are not logged in.</p>
            <a href="{% url 'login' %}">Log In</a>
        {% endif %}

        {% block content %}
        {% endblock content %}
    </div>
        
        
        {% block footer%}       
        {% endblock %}
    </body>
</html>