{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{tittle}}</title>
        <link rel="stylesheet" href="{% static "main/styles/style.css" %}">
        <link rel="stylesheet" href="{% static "main/styles/forheader.css" %}">
        {% block css%} 
        {% endblock css %}
    </head>


    <body>
        <header class="top-conteiner">
            <div class="nav-conteiner">
                <div>
                    <nav>
                        <ul>
                            <img src="{% static "main/images/Logo1.png" %}" alt="Logo" class="img-logo">
                            <li>
                                <a href="{% url "index" %}">Главная</a>
                            </li>
                            <li>
                                <a href="/news">Новости</a>
                            </li>
                            <li>
                                <a href="{% url 'about' %}">О нас</a>
                            </li>
                            <li>
                                <a href="/catalog">Каталог</a>
                            </li>
                            <li>
                                <input type="text" placeholder="Поиск" style="height: 28px; padding-left: 3px;">
                            </li>
                        </ul>
                    </nav>
                </div>

                {% if request.user.is_authenticated %}  
                    {% comment %} Содержимое для авторизованных пользователей  {% endcomment %}
                    <div class="userHeadForm">
                    <nav>
                        <ul>
                            <li>
                                <a href="#">Уведомления</a>
                            </li>
                            <li>
                                <a href="#">Сообщения</a>
                            </li>
                            <li>
                                <a href="/profile">Nickname</a>
                            </li>
                            <li>
                                
                                <a href="{% url 'logout' %}">Выйти</a>
                            </li>
                            <img src="{% static "main/images/Avatar1.jpg" %}" alt="UserAvatar" class="img-avatar">
                        </ul>
                    </nav>
                </div> 
                {% else %}  
                    {% comment %} Содержимое для неаутентифицированных пользователей {% endcomment %}
                    <div class="userHeadForm">
                        <nav>
                            <ul>
                                <li>
                                    <a href="{% url "login" %}">Авторизация</a>
                                </li>
                                <li>
                                    <a href="{% url "register" %}">Регистрация</a>
                                </li>
                            </ul>
                        </nav>
                    </div>  
                {% endif %}  



            </div>
        </header>
        
        {% block content%}
        {% endblock  %}
        
        {% block footer%}       
        {% endblock %}
    </body>
</html>