{% load static %} 

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{tittle}}</title>
        <link rel="stylesheet" href="{% static "main/styles/style.css" %}">
        {% block css%} 
        {% endblock css %}
    </head>


    <body>
        <header class="top-conteiner">
            <div class="nav-conteiner">
                <div>
                    <nav>
                        <ul>
                            <img src="{% static "main/images/Logo1.png" %}" alt="Logo" class="img-logo">
                            <li>
                                <a href="{% url "index" %}">Главная</a>
                            </li>
                            <li>
                                <a href="">Новости</a>
                            </li>
                            <li>
                                <a href="">О нас</a>
                            </li>
                            <li>
                                <a href="">Каталог</a>
                            </li>
                        </ul>
                    </nav>
                </div>
    
                <div>
                    <nav>
                        <ul>
                            <input type="text" placeholder="Поиск" style="height: 28px; padding-left: 3px;">
                            <li>
                                <a href="#">Уведомления</a>
                            </li>
                            <li>
                                <a href="#">Сообщения</a>
                            </li>
                            <li>
                                <a href="#">Nickname</a>
                            </li>
                            <img src="{% static "main/images/Avatar1.jpg" %}" alt="UserAvatar" class="img-avatar">
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        {% block content%}
        {% endblock  %}
        
        {% block footer%}       
        {% endblock %}
    </body>
</html>