{% extends "books/base.html" %}

{% block content %}
    <h1>{{ book.title }}</h1>
    {% if book.cover %}
        <img src="/media/{{book.cover}}" alt="{{ book.title }} cover" style="max-width: 200px;">
    {% endif %}
    <p>Author: {{ book.author }}</p>
    <p>Description: {{ book.description }}</p>
    <h2>Chapters</h2>
    <ul>
        {% for chapter in book.chapters.all %}
            <li><a href="{% url 'chapter_detail' book.id chapter.id %}">{{ chapter.title }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_chapter' book.id %}"><button>Create Chapter</button></a>
    <a href="{% url 'books' %}"><button>Back to Book List</button></a>
{% endblock  %}